.footer {
    background-color: black;
}

.footer > .codepen-phrases-wrapper {
    display: flex;
    background-color: #36383f;
    color: white;
    width: 100%;
}

.footer > .codepen-phrases-wrapper > .codepen-phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px dimgray;
    font-size: 1.6em;
    font-weight: 400;
    width: 100%;
    padding-top: 1.3rem;
    padding-bottom: 1.5rem; 
}

.footer > .codepen-phrases-wrapper > .codepen-phrase span {
    font-size: 1.5em;
    font-weight: 900;
    margin-left: 0.25rem;
    margin-bottom: 0.5rem;
}